@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    font-family: "Kanit";
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.h-line{
    width: 2px;
    height: 45px;
    background-color: #0c73b6;
    margin-right: 10px;
    margin-bottom: 5px;
}

.right{
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#down_arrow{
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 20px;
}

#user-logo{
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: default;
}

#home{
    font-size: 20px;
    color: #0c73b6;
    font-weight: bold;
    text-decoration: none;
    margin-right: 50px;
}

#home:hover{
   text-decoration: underline;
}


.dropdown_list a{
    display: block;
    text-decoration: none;
    padding: 10px 0 10px 10px;
    font-weight: bold;
    color: #097cc7;
    text-align: start;
    cursor: pointer;
}

.dropdown_list a:hover{
    background-color: #097cc7;
    color: white;
    border-radius: inherit;
}

.dropdown_list{
    display: none;
    position: absolute;
    background-color: white;
    align-items: center;
    width: 150px;
    height: auto;
    box-shadow: 2px 2px 5px black;
    transform: translateX(-120px) translateY(15px);
}


#dropdown_item2{
    border-bottom: 2px solid #0c73b6;
}

@media (max-width:600px) {
    .right{
        width: 100%;
    }

    #home{
        margin-right: auto;
        margin-left: 20px;
    }

    .left , .h-line{
        display: none;
    }


    #user-logo{
        width: 40px;
        height: 40px;
    }
}







